<%= form_tag root_path, method: 'get' do %>
	<%= label_tag 'Please enter a city' %>
	<%= text_field_tag 'city', params[:city] %>
	<%= submit_tag %>
<% end %>


<% if @data == nil %>  
	City not found
<% else %>
<p> This city is located in the <%= @data["sys"]["country"] %> </p>
<p> Current temperature <%= celvin_round(@data["main"]["temp"]) %>&degC</p>
<p class="text-center">Weather forecast for 7 days</p>
  <table  BORDER=2 ALIGN=CENTER CELLPADDING=5 WIDTH="50%">
  <thead>
    <tr>
      <th> Day </th> 
      <th> Temperature </th>     
    </tr>    
  </thead>
  <tbody>
    <% @daily["list"].each do |x| print x %>
      <tr>
        <td> <%= x["dt"] %> </td>
        <td> <%= celvin_round(x["temp"]["day"]) %>&degC </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
<% end %>



