<%= form_tag root_path, method: 'get' do %>
	<%= label_tag 'Please enter a city' %>
	<%= text_field_tag 'query', params[:query] %>
	<%= submit_tag %>
<% end %>

<% if @data == nil %>  
	City not found
<% else %>
  <table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Current temperature</th>
      <th>Forecast for tomorrow:</th>
      <th>Forecast after 1 day:</th>
      <th>Forecast after 2 days:</th>
      <th>Forecast after 3 days:</th>
      <th>Forecast after 4 days:</th>
      <th>Forecast after 5 days:</th>
      <th>Forecast after 6 days:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @data["sys"]["country"] %></td>
      <td><%= (@data["main"]["temp"] - 273.15).round 0 %>&degC</td>
      <td><%= (@daily["list"][0]["temp"]["day"]- 273.15).round %>&degC </td>
      <td><%= (@daily["list"][1]["temp"]["day"]- 273.15).round %>&degC </td>
      <td><%= (@daily["list"][2]["temp"]["day"]- 273.15).round %>&degC </td>
      <td><%= (@daily["list"][3]["temp"]["day"]- 273.15).round %>&degC </td>
      <td><%= (@daily["list"][4]["temp"]["day"]- 273.15).round %>&degC </td>
      <td><%= (@daily["list"][5]["temp"]["day"]- 273.15).round %>&degC </td>
      <td><%= (@daily["list"][6]["temp"]["day"]- 273.15).round %>&degC </td>
    </tr>
  </tbody>
</table>
  
<% end %>



